*, ::before, ::after {
    box-sizing: border-box;
}
body{
    background: url(images/ghibli_wallpaper.jpg);
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(40, 95, 233);

    font-family: sans-serif;
}
h1{
    text-align: center;
    color: white;
    font-size: 4em;
    margin-bottom: 60px;
    text-shadow: 1px 1px 2px rgb(40, 40, 40);

}
.div1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    /* margin-bottom: 50px; */
}

.div2{
    margin: 0 auto;
    margin-bottom: 50px;
    width: 800px;
    border: 4px solid rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    padding: 15px;
    font-size: 110%;
    color: white;
    text-shadow: 1px 1px 2px rgb(27, 26, 122);
}
img {
    height: 300px;
    width: 220px;
    box-shadow: 2px 2px 5px black;
    margin: 0px 20px 50px 20px;
    margin-bottom: 50px;
/* margin-top, margin-right, margin-bottom, and margin-left */
}

a:hover {
    opacity: 0.7 ;
}

@media (max-width: 580px) {
    h1{ font-size: 1.5em; }
    .div1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .div2 {
        max-width: 500px;
        font-size: 90%;
    }
    img {
    height: 400px;
    width: 300px;
    box-shadow: 2px 2px 5px black;
    }
}
@media (min-width:581px) and (max-width: 868px) {
    h1 { font-size: 2em; }

    .div1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    }
    .div2 {
        max-width: 600px;
        font-size: 95%;
    }
    
    img {
        height: 350px;
        width: 260px;
        box-shadow: 2px 2px 5px black; }
}
    